.container{
    width: 300px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.break{
    width: 100%;
}

.box{
    flex: 1;
    border: 1px solid black;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

.result{
    flex: 1;
    height: 4rem;
    font-size: 2rem;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    color: white;
}

.x{
    background-color: yellow;
}
.p{
    background-color: red;
}
.z{
    background-color: green;
}